# Testing config file parser for use with PID tuning
PID_gains 
{
    throttle
    {
        kp = "0.0";
        ki = "0.0";
        kd = "0.0";
    };
    x
    {
        kp = "0";
        ki = "0";
        kd = "0";
    };
    y
    {
        kp = "23";
        ki = "0";
        kd = "9000000";
    };
    z
    {
        kp = "0";
        ki = "0";
        kd = "0";
    };
    x_pos
    {
        kp = "0.0";
        ki = "0.0";
        kd = "0.0";
    };
    y_pos
    {
        kp = "0.0";
        ki = "0.0";
        kd = "0.0";
    };
};
